<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationTests">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>

    <test name="RegressionTests">
        <classes>
            <class name="tests.RegisterUserTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.SubscriptionTest"/>
            <class name="tests.CategoryTest"/>
            <class name="tests.ScrollTest"/>
            <class name="tests.SignupTest"/>

        </classes>
    </test>
</suite>
